md-nav-list {
	padding: 0 !important;
}
md-nav-list,
md-list-item{
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
}
h3{
	background-color: #888;
	border-bottom: 1px solid #ddd;
	color: #fff !important;
	font-size: .85em;
	height: 25px !important;
	margin: 0 !important;
	padding: 5px 16px !important;
}
md-list-item.anak0,
mat-list-item.anak0 {

	border-bottom: 1px solid #ddd;
	padding: 0 !important;
	li, a, button{
		margin: 0 !important;
		padding: 0 !important;
	}
}
md-list-item.anak0.active,
md-list-item.anak0.active {
	background-color: blue !important;
}

md-list-item.anak0:hover,
mat-list-item.anak0:hover {
	background-color: red !important;

}

md-nav-list.anak1,
mat-nav-list.anak1 {
	background-color: green;
	margin-top: 0 !important;
	padding-top: 0 !important
}
