.mat-sidenav-content{
	background-color: #9575CD;
}
#main-container {
	margin-top: 64px;
	height: 90vh;
	#sidenav {
		margin: 0 !important;
		padding: 0 !important;
		width: 200px;
		min-height: 90.6vh;
	}

	#container {
		background-color: greenyellow;
		padding: 20px;
	}
}

@media (max-width: 601px) {
	#main-container {
		margin-top: 56px !important;
		#sidenav{
			width: 80%;
		}
	}
}
