#main-container{
	margin-top: 64px;
	min-height: 90.6vh;
	#sidenav {
		margin: 0 !important;
		padding: 0 !important;
		width: 200px;
	}
	#container{
		background-color: greenyellow;
		padding: 20px;
	}
}
