.main.container{
	flex: 1 0 auto;
	margin-bottom: 30px;
	margin-top: 85px;
	z-index: -100000 !important;
	.row{
		.col{
			.mat-card {
				background-color: #EEE;
			}
		}
	}
}
@media (max-width: 601px) {
	.main.container {
		margin-top: 76px !important;
	}
}
.full-width{
	width: 100%;
}
.small{
	font-size: .7em;
}
