<app-nav (sideNavToggle)="sideNavToggle()"></app-nav>
<div class="main container">
	<div class="row">
		<div class="col s10 push-s1 m8 push-m2 l6 push-l3 xl6 push-xl3">
			<md-card>
				<md-card-title>Authenticate</md-card-title>
				<md-card-content>
					<div class="row">
						<md-input-container class="full-width">
							<input #u mdInput type="password" placeholder="Username" maxLength="32">
						</md-input-container>
						<span class="right small">{{ u.value.length }} / 32</span>
					</div>
					<div class="row">
						<md-input-container class="full-width">
							<input #p mdInput type="password" placeholder="Password" maxLength="32">
						</md-input-container>
						<span class="right small">{{ p.value.length }} / 32</span>
					</div>
					<div class="row">
						<md-checkbox class="left" color="primary" value="basic_checkbox">Im not Robot</md-checkbox>
						<button md-button class="right">Login</button>
					</div>
				</md-card-content>
				<md-card-footer>
					<md-progress-bar mode="indeterminate"></md-progress-bar>
				</md-card-footer>
			</md-card>
		</div>
	</div>
</div>
<app-footer></app-footer>
