.demo-toolbar {
	margin: 0 !important;
	padding: 0 !important;
	position: fixed;
	top: 0;
	width: 100%;
	p{
		margin: 0 !important;
	}
	.demo-toolbar-icon {
		margin-right: 30px;
		font-size: 2em;
		position: relative;
		top: -12.5%;
	}
	.demo-toolbar-icon:hover{
		cursor: pointer;
	}

	.demo-fill-remaining {
		flex: 1 1 auto;
	}
}

